* {
  -webkit-box-siging: border-box;
  -ms-box-siging: border-box;
  -o-box-siging: border-box;
  box-sizing: border-box;
}

body {
  font-family: optima;
}

.source {
  font-family: 'fira mono', menlo, monospace;
  font-size: 13px;
  padding: 5px;
}

.source:focus {
  outline: none;
}

.env, .result, pre {
  font-size: 14px;
  font-family: menlo, 'inputmononarrow light', monospace;
}

.keyword, .bool {
  font-weight: bold;
}

.param, .val-def, .var {
  color: #804000;
}

.highlight {
  background: #FFCAD3;
}

.reference {
  color: white;
  background: #804000;
}
