* {
  -webkit-box-siging: border-box;
  -ms-box-siging: border-box;
  -o-box-siging: border-box;
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: 0;
  position: relative;
  font-size: 90%;
  font-family: menlo, monospace;
  cursor: default;
}

.source {
  font-family: menlo, monospace;
  font-size: 13px;
  padding: 5px;
}

.source:focus {
  outline: none;
}

.env, .result, pre {
  font-size: 14px;
  font-family: menlo, monospace;
}

.keyword, .bool {
  font-weight: bold;
}

.param, .val-def, .var {
  color: #804000;
}

.highlight {
  background: #FFE7CA;
}

.reference {
  background: #FFC9D7;
  border-radius: 3px;
  padding: 2px 0;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}
